<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="Enter User name" type="text" name="username"><br />
        <textarea placeholder="Write your content" name="content" id=""></textarea><br />
        <button type="submit">Submit</button>
    </form>
</body>
</html>